<!DOCTYPE html>
<html lang="en">
<head>
    <link href="../static/css/my_site_style.css" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
    <title>Social Media Analytics</title>
     <!--[if lt IE 9]>
    <script>
      document.createElement("article");
      document.createElement("aside");
      document.createElement("footer");
      document.createElement("header");
      document.createElement("main");
      document.createElement("nav");
      document.createElement("section");
    </script>
    <![endif]-->
  </head>
  <body>
    <header class="banner">
      <h1>Social Media Analytics</h1>
    </header>

    <nav>
      <ul>
        <li><a href="http://localhost:8000/">About</a></li>
        <li><a href="http://localhost:8000/analytics/">Analytics</a></li>
        <li><a href="http://localhost:8000/contact/">Contact</a></li>
      </ul>
    </nav>

    <main>
          <center><img src="../static/images/social_media_analytics_7.png" height="200" width="960"></center>
          <left-justify><img src="../static/images/python_django.png"></left-justify>
      <section>
           <h2>About</h2>
        <article>
          <header>
            <h3>What is Social Media Analytics?</h3>
            <p>(Gil Rael, 2-20-17)</p>
          </header>
          <p>Social Media Analytics is a Python Django web application developed by Gil Rael.</p>
          <p>The application provides analytics on the following Social Media sites.</p>
          <p>Facebook, Twitter, LinkedIN, YouTube, and Tumblr.  One of the analytic techniques used</p>
          <p>is sentiment analysis a form of NLP (natural language processing).  This data</p>
          <p>can help businesses detect issues related to customer service, and product launches.</p>
        </article>

        <article>
          <header>
            <h3>What Python packages were used in the creation of Social Media Analytics?</h3>
            <p>(Gil Rael, 2-20-17)</p>
          </header>
          <p>Matplotlib - Python 2D plotting library, Numpy - Python scientific computing package.</p>
          <p>Scipy - Python library for scientfic and technical computing. Tweepy - Twitter wrapper API.</p>
          <p>JSON - Python JSON package</p>
        </article>
      </section>

    </main>

    <footer>
      <center><p>Web & Software Application Development By <a href="http://www.gilrael.com"><font color="Yellow">Gil Rael</a></p></center>
    </footer>

  </body>
</html>
</head>
</html>