<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration Complete</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<style>
a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: blue;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: purple;
    background-color: transparent;
    text-decoration: underline;
}
</style>
</head>
<body>
<div class="w3-container w3-red">
  <h1>Welcome To Git Ur Done</h1><img src="/static/images/git.png" style="width:50px;height:50px;">
</div>



<div class="w3-container w3-blue">
<img src="/static/images/python_django_gil.png" style="width:25" align="right">
<br>
<h3>
<p><a href="http://localhost:8000/" target="_blank">About</a>   <a href="http://localhost:8000/account/register" target="_blank">Register</a>    <a href="http://localhost:8000/account/login/"target="_blank" >Login</a>                                                 </p>
</h3>
<br>
<br>
<br>
<br>
<br>
<br>
<h3><center>Thanks for registering with Git Ur Done.  You should receive an activation email shortly.</center></h3>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</p>
</div>





<div class="w3-container w3-red">
  <h5>

  </h5>
  <p><center>Web Design & Application Development By - <a href="http://facebook.com/gil.rael.37/" target="_blank">Gil Rael</a><br>
Software Developed By A Nerd For Nerds</center></p>
</div>
</head>
</body>
</html>
