<!DOCTYPE html>
<html lang="en">
<head>
    <link href="../static/css/my_site_style.css" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
    <title>Success</title>
     <!--[if lt IE 9]>
    <script>
      document.createElement("article");
      document.createElement("aside");
      document.createElement("footer");
      document.createElement("header");
      document.createElement("main");
      document.createElement("nav");
      document.createElement("section");
    </script>
    <![endif]-->
  </head>
  <body>
    <header class="banner">
      <h1>Social Media Analytics</h1>
    </header>

    <nav>
      <ul>
        <li><a href="http://localhost:8000/">About</a></li>
        <li><a href="http://localhost:8000/analytics/">Analytics</a></li>
        <li><a href="http://localhost:8000/contact/">Contact</a></li>
      </ul>
    </nav>

    <main>
          <center><img src="../static/images/social_media_analytics_7.png" height="200" width="960"></center>
      <section>
           <br></br>
           <h2>Success your message has been sent.  Thank You!</h2>
           <br></br>
     </main>

    <footer>
      <center><p>Web Design & Software Application Development By <a href="http://www.gilrael.com" style="color:Yellow" target=_"blank">Gil Rael</a></p></center>
    </footer>

  </body>
</html>
</head>
</html>